/*
 *CSS init
 */
* {
    margin: 0px;
    padding: 0px;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Microsoft yahei';
}

input,
select,
textarea {
    outline: none;
    padding: 0;
    font-size: 16px;
    font-family: 'Microsoft yahei';
    background: transparent;
}
/*取消button点击的默认样式*/
button:focus {
    border: 0 none;
    outline: none;
}

a {
    text-decoration: none;
}

/*********************  you code  *********************/
.ln_topLogo {
    position: absolute;
    width: 1200px;
    top: 22px;
    left: 50%;
    margin-left: -600px;
}

.ln_topLogo img {
    display: block;
    height: 92px;
}

.ln_page {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    position: relative;
}
.ln_content {
    display: flex;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    position: absolute;
    width: 466px;
    height: 448px;
    top: 50%;
    left: 50%;
    margin-left: -333px;
    margin-top: -244px;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.42) 0px 0px 12px;
}
.login_img {
    position: relative;
    width: 920px;
    min-width: 920px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.ln_zhezhao {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.ln_leftContent {
    position: absolute;
    z-index: 5;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.ln_leftContent img {
    display: block;
    margin: 0 auto 32px auto;
    width: 360px;
}
.ln_leftContent b {
    display: block;
    color: #eee;
    font-size: 42px;
    line-height: 66px;
    text-align: center;
    font-family: '楷体';
}

.img_text {
    position: absolute;
    font-size: 35px;
    color: #fae8c0;
    line-height: 53px;
    top: 249px;
    left: 0;
    width: 840px;
    text-align: center;
}
.login_form {
    position: relative;
    flex: 1;
    line-height: 40px;
}
.login_form .title {
    color: #3f9df4;
    font-size: 28px;
    text-align: center;
    margin-top: 52px;
    margin-bottom: 12px;
}
.login_form .title2 {
    color: #666;
    font-size: 22px;
    text-align: center;
    margin-bottom: 66px;
}
.login_input {
    display: flex;
    height: 40px;
    border: 1px solid #dfdada;
    margin: 20px 50px;
    border-radius: 3px;
}
.login_input img {
    width: 22px;
    height: 22px;
    margin-top: 10px;
    margin-left: 10px;
    opacity: 0.5;
}
.login_input input {
    font-size: 16px;
    padding-left: 8px;
    line-height: 27px;
    color: #617077;
    width: 100%;
}
.login_form button {
    background-color: #3f9df4;
    border-radius: 23px;
    width: 327px;
    height: 46px;
    font-size: 20px;
    line-height: 44px;
    color: #fff;
    border: 1px solid #3f9df4;
    display: block;
    cursor: pointer;
    margin: 74px auto 20px auto;
}
.login_form p {
    font-size: 16px;
    text-align: center;
    color: #617077;
    margin-top: 20px;
}
.login_form p a {
    color: #3f9df4;
    text-decoration: underline;
}
.login_form .login_enter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #dfd4c7;
    color: #3f9df4;
    text-align: center;
    font-size: 20px;
    padding: 8px 0px;
    cursor: pointer;
}

/* 注册成功 */
.login_form .register {
    background-color: #3f9df4;
    border-radius: 26px;
    width: 327px;
    height: 46px;
    font-size: 20px;
    line-height: 44px;
    color: #fff;
    border: 1px solid #3f9df4;
    text-align: center;
    display: block;
    cursor: pointer;
    margin: 52px auto;
}

.ln_register_sucess {
    line-height: 135px;
    margin: 0 auto;
}
.ln_register_title {
    font-size: 35px;
    color: #3f9df4;
    text-align: center;
}
.ln_register_img {
    width: 184px;
    height: 184px;
    background-color: #3f9df4;
    border-radius: 50%;
}
.ln_register_img img {
    margin-top: 40px;
    margin-left: 25px;
}
.ln_sucess_text {
    font-size: 28px;
    color: #3f9df4;
    text-align: center;
}
/* ln_tip */
.ln_tip {
    pointer-events: none;
}
.ln_tipOut {
    pointer-events: auto;
}

.ln_TMark {
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.ln_TPack {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    padding: 42px 40px;
    width: 560px;
    opacity: 0;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ln_TPClose {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 42px;
}
.ln_TPClose img {
    display: block;
    margin: 13px;
    width: 16px;
    height: 16px;
}

.ln_TPTitle {
    color: #343434;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 28px;
}

.ln_TPack p {
    color: #555;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
}
.ln_TPack p a {
    color: red;
    font-weight: bold;
    text-decoration: underline;
}
.ln_TPack p span {
    color: #4976e8;
    font-weight: bold;
    text-decoration: underline;
}

.ln_TPSubmit {
    display: block;
    cursor: pointer;
    margin: 42px auto 0 auto;
    width: 182px;
    height: 48px;
    color: #fff;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    text-decoration: underline;
    border-radius: 24px;
    background-color: #6e91ec;
}

.ln_tipOut .ln_TMark {
    opacity: 1;
}
.ln_tipOut .ln_TPack {
    opacity: 1;
}

.shadow {
    box-shadow: 0px 0px 5px 0px rgb(238, 238, 238);
}

@media screen and (min-width: 100px) and (max-width: 1366px) {
    .ln_page {
        width: 1366px;
    }
}
